# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# Environments
.env
.venv
env/
venv/

# Logs
*.log

# ROS
ros_workspace/build/
ros_workspace/install/
ros_workspace/log/

# CTags
tags

# Arduino configuration
Arduino/arduino-cli.yaml
Arduino/.arduino15
