# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# Environments
.env
.venv
env/
venv/

# Logs
*.log

# ROS
ros_workspace/build/
ros_workspace/install/
ros_workspace/log/

# Arduino
arduino/arduino-cli.yaml
arduino/.arduino15/
arduino/libraries/Dynamixel2Arduino/examples/

# CTags
tags
